In [31]:
# imports
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# Load data
basics = pd.read_csv('https://datasets.imdbws.com/title.basics.tsv.gz', sep='\t', low_memory=False)
akas = pd.read_csv('data\title-akas-us-only.csv', sep='\t', low_memory=False)
ratings = pd.read_csv('https://datasets.imdbws.com/title.ratings.tsv.gz', sep='\t', low_memory=False)

# Explore Data

In [40]:
basics.head()

AttributeError: 'NoneType' object has no attribute 'head'

In [35]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0

In [ ]:
akas['region'].value_counts()

In [ ]:
ratings.head()

# Data Cleanup

## Cleanup AKAs Data Set

- Keep only US movies
- Replace "\N" with np.nan

In [38]:
# Remove non-US values
akas.drop(akas[akas['region'] != 'US'].index, inplace=True)

#Replace "\N" with np.nan
akas.replace({'\\N':np.nan}, inplace=True)
akas

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0
...,...,...,...,...,...,...,...,...
36939955,tt9916560,1,March of Dimes Presents: Once Upon a Dime,US,NaN,imdbDisplay,NaN,0
36940025,tt9916620,1,The Copeland Case,US,NaN,imdbDisplay,NaN,0
36940114,tt9916702,1,Loving London: The Playground,US,NaN,NaN,NaN,0
36940157,tt9916756,1,Pretty Pretty Black Girl,US,NaN,imdbDisplay,NaN,0
36940173,tt9916764,1,38,US,NaN,imdbDisplay,NaN,0

## Cleanup Title Basics Dataset
- Keep only US movies (Use AKAs table, see "Filtering one dataframe based on another" section below)
- Replace "\N" with np.nan
- Eliminate movies that are null for runtimeMinutes
- Eliminate movies that are null for genre
- keep only titleType==Movie
- Convert the startYear column to float data type.
- Filter the dataframe using startYear. Keep years between 2000-2021 (Including 2000 and 2021)
- Eliminate movies that include "Documentary" in the genre (see tip below).

In [37]:
# Keep only US movies
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers = basics['tconst'].isin(akas['titleId'])
keepers
basics = basics[keepers]
basics

TypeError: 'NoneType' object is not subscriptable

In [ ]:
#Replace "\N" with np.nan
basics.replace({'\\N':np.nan}, inplace=True)
basics

In [ ]:
# Eliminate movies that are null for runtimeMinutes and for genres
basics = basics.dropna(subset=['runtimeMinutes','genres'], inplace=True)

In [ ]:
# Keep only titleType == Movie
# delete all rows with column 'Age' has value 30 to 40
basicsNonMovies = basics[ (basics['titleType'] != 'Movie') ].index
basics.drop(basicsNonMovies , inplace=True)
df.head(15)